<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <title>Madelyn Driscoll</title>
  <link rel="shortcut icon" type="image/jpg" href="..assets/logo.jpg"/>
</head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home/">Madelyn Driscoll</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/aboutme/">About Me</a>
            <a class="nav-link" href="/contact/">Contact</a>
            <a class="nav-link" href="/gallery/">Gallery</a>
          </div>
        </div>
      </div>
    </nav>


    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title"> <strong> About Me! </strong> </h1>
        <h2 class="card-text">Read more about who I am</h2>
        <h1>_____________________________________</h1>

        <div class="d-grid gap-3">

          <p>Howdy! My name is Maddy, and I'd love for you to explore my website to learn more about me!</p>
          <p>     </p>
          <p>     </p>
        </div>

        <div class="container-sm">
          <h4>Introduction</h4>
          <p>I am a current sophomore studying Medical Technology at Marist College.
            From drawing patient blood to running tests in the laboratory to culturing bacteria, I love spending as much time in the laboratory as possible.
            For as long as I can remember science has been my favorite subject, trying to figure out how things work and what makes up the vast world around us.
            I have also come to enjoy the fun world coding, and the magical realm behind computer science.
          </p>
          <div class="d-grid gap-3">

            <p>     </p>
            <p>     </p>
          </div>

          <h4>Work Experience</h4>
          <p>For the past 3 years I have worked at CT Mobile Veterinary Services assisting in hospital services for both feline and canine pets.
            I have been able to gain a tremendous amount of experience handling animals, preparing laboratory specimens, and everything there is about owning a furry friend!
            Additionally I have held several positions during the semester including the office of Enrollment Services, Marist Poll, and laboratory Teaching Assistant.
            This upcoming fall I am looking forward to starting my hospital clinical rotations, where I will soon be working after finishing my last two years of college.
          </p>
          <div class="d-grid gap-3">

            <p>     </p>
            <p>     </p>
          </div>

          <h4>Hobbies</h4>  
          <p>The world around us is filled with so many wonders, which is why I enjoy exploring as much as I can!
             Ever since I was younger I would always enjoy taking weekend hikes with my father to local state forests. 
             I still try to do so now, whether it be on campus at Fern Tor or nearby Walkway over the Hudson to appreciate the beauty of the Hudson Valley around me.
             I've also recently discovered the art of photography, and use it as an outlet to captivate the simple wonders nature portrays for us, which you can view in my gallery.
         </p>
         <div class="d-grid gap-3">

          <p>     </p>
          <p>     </p>
        </div>

         <h4>Music</h4>
         <p>Another one of my favorite things is to listen to music!
           From studying organic chemistry to long road-trips I'm sure to always have some of my favorite tunes in my ears to listen to.
           Though my playlist usually depends on the type of day, some of my favorites include: NF, blackbear, AJR, Bastille, Jon Bellion, The Score, Marshmello, Fall Out Boy, All Time Low, and Panic! at the Disco.
         </p>
         <div class="d-grid gap-3">

          <p>     </p>
          <p>     </p>
        </div>
    </div>
  </body>  
</html>
